<html xmlns="http://www.w3.org/1999/xhtml"       xmlns:th="http://www.thymeleaf.org">

<head>
    <title>顾客-帮助</title>
    <meta charset="utf-8">
    <style>
        a {
            text-decoration: none;
            color: rgb(27, 43, 168);
        }

        a:hover,
        a:active {
            color: rgb(62, 175, 250);
        }

        body {
            width: 100%;
            height: 100%;
            overflow: hidden;
            font-size: 12px;
            background: url(../images/bg.jpg) #a8fa8f;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-attachment: fixed;
        }
    </style>
</head>

<body background="">
    <!-- 头部标题栏 -->
    <div class="header_box">
        <a th:href="@{/customer/home}"><b style="font-size:20px;font-family: 黑体;margin-left:10px;">⏎返回首页</b> </a>
        <p
            style="text-align: center;font-weight:bold;font-size:40px;font-family: 隶书;color:rgb(12, 158, 77);margin-top:-5px;">
            帮助</p>
    </div>
</body>

</html>