<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"       xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>嘉豪高级草莓农庄</title>
    <link rel="stylesheet" href="../stylesheets/amin02F.css" />
    <!-- 图片轮播js -->
    <script type="text/javascript">
        window.onload = function () {
            var oBox = document.getElementById('box');
            var oBtn = document.getElementById('btn');
            var aBtn = oBtn.getElementsByTagName('a'); //alert(aBtn.length);
            var aPicText = getByclass('picbox', oBox);
            for (var i = 0; i < aBtn.length; i++) {
                aBtn[i].index = i; //先隐藏全部，在单独显示选中的 
                aBtn[i].onmouseover = function () {
                    for (var n = 0; n < aBtn.length; n++) {
                        aPicText[n].style.display = "none";
                        aBtn[n].className = '';
                    }
                    aPicText[this.index].style.display = "block";
                    this.className = 'act';
                }
                aBtn[i].onclick = function () {
                    for (var n = 0; n < aBtn.length; n++) {
                        aPicText[n].style.display = "none";
                        aBtn[n].className = '';
                    }
                    aPicText[this.index].style.display = "block";
                    this.className = 'act';
                }
            }
            //得到class为picBox的div 
            function getByclass(sName, oParent) {
                var obj = oParent.getElementsByTagName('*');
                var result = [];
                for (var i = 0; i < obj.length; i++) {
                    if (obj[i].className == sName) {
                        result.push(obj[i]);
                    }
                }
                return result;
            }
            setInterval(function () {
                for (var n = 0; n < aBtn.length; n++) {
                    if (aPicText[n].style.display == 'block' && aBtn[n].className == 'act') {
                        aPicText[n].style.display = "none";
                        aBtn[n].className = '';
                        if (n == aBtn.length - 1) {
                            aPicText[0].style.display = "block";
                            aBtn[0].className = 'act';
                        } else {
                            aPicText[n + 1].style.display = "block";
                            aBtn[n + 1].className = 'act';
                        }
                        break;
                    }
                }
            }, 1500);
        }
    </script>
</head>

<body>
    <div class="top">
        <p>欢迎来到嘉豪高级草莓农庄</p>
        <br><br>
        <span>嘉豪高级草莓农庄</span><br>
        <span>让你享受愉悦的农庄体验</span><br>
        <span>想要体验？马上<a href="#appointment">预约</a></span><br><br>
    </div>
    <div class="box" id="box">
        <div class="box1">
            <div class="picbox" style="display:block;">
                <img src="../images/farm03.jpg" />
            </div>
            <div class="picbox">
                <img src="../images/farm03-1.jpg" />
            </div>
            <div class="picbox">
                <img src="../images/farm03-2.jpg" />
            </div>
            <div class="picbox">
                <img src="../images/farm03-3.jpg" />
            </div>
            <div class="picbox">
                <img src="../images/farm03-4.jpg" />
            </div>
            <div class="picbtn" id="btn">
                <a href="javascript:void(0)" class="act"></a>
                <a href="javascript:void(0)"></a>
                <a href="javascript:void(0)"></a>
                <a href="javascript:void(0)"></a>
                <a href="javascript:void(0)"></a>
            </div>
        </div>
    </div>
    <div class="content">
        <p>嘉豪高级草莓农庄,
            <br>始建于2016年初,
            <br>于2017年正式完工。
            <br>自农庄建成以后，
            <br>我们便着重天然的种植方式，
            <br>让草莓吸收天地日月之精华茁壮成长。
            <br>我们承诺，
            <br>在养殖过程中，
            <br>绝不添加任何催生长的药物。
            <br>来到这，
            <br>您还可以体验到采摘草莓的全过程，
            <br>欣赏沁人心脾的果香，
            <br>还可以在此品尝到我们的刚采摘的新鲜草莓，
            <br>观摩烹饪过程。<br>如果您对我们的产品有兴趣，
            <br>还可以进入我们的<a href="jiahao.html">网上店铺</a>购买我们的产品！
        </p>
    </div>
    <div class="appointment" id="appointment">
        <form th:action="@{/addAppointment}" method="post">
            <p>预约单填写</p>
            <input name="viewname" value="jiahaoF" type="hidden">
            <input id="name" type="hidden" name="userId" th:value="${session.currentUser.id}"
                   style="text-indent:8px;width:300px;height:30px;border-radius:6px;border:1.2px solid
                     #484948;color:#050505;"><br><br>
            <label style="font-size:22px;">应到时间</label>
            <input id="arrivalTime" type="date" name="arrivalTime"
                   style="text-indent:8px;width:300px;height:30px;border-radius:6px;border:1.2px solid
                    #484948;color:#050505;"><br><br>
            <label style="font-size:22px;">预约人数</label>
            <input id="appPerson" type="text" name="appPerson"
                   style="text-indent:8px;width:100px;height:30px;border-radius:6px;border:1.2px solid
                    #484948;color:#050505;">&nbsp;&nbsp;
            <span style="font-size:22px;color:red;">最多可以预约<span th:text="${maxPerson}"></span></span>
            <br><br><br>
            <input type="submit" style="font-size:25px;font-weight:bold;width:100px;height:30px; background-color:#57ac6c;
                        border-radius:5px;color:#f5f8f6;font-size:18px;border:none;" value="提 交">
            <span th:text="${message}"></span>
            <br><br><br><br><br>
        </form>
    </div>

</body>

</html>
