<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"       xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>嘉莹乳猪养殖网上店铺</title>
    <link rel="stylesheet" href="../stylesheets/jiaying.css" />
</head>

<body>
    <div class="top">
        <p
            style="text-align: center;font-weight:bold;font-size:40px;font-family: 隶书;color:rgb(194, 26, 26);margin-top:5px;">
            欢迎来到嘉莹乳猪养殖网上店铺
        </p>
    </div>
    <div class="left">
        <p style="margin:5px;font-family:隶书;font-size:22px;">
            <b>亲爱的顾客朋友：</b><br><br>
            <span style="color:rgb(58, 57, 57);">
                你们好！<br><br>欢迎来到我的店铺。
                <br><br>我们秉持着质量至上，价格<br><br>
                优惠，安全可靠的理念，采<br><br>用半野外放养的方式养殖乳<br><br>猪。若您有意向批发我们的<br><br>
                产品，可拨打以下电话进行<br><br>详谈：<br><br>15626231234 (彭小姐) <br><br> 我们将竭诚为您服务！</span>
        </p>
    </div>
    <div class="right">
        <header>
            <img src="../images/youhuiHeader.jpg">
            <p>老店酬宾 优惠力度 前所未有 欢迎选购</p>
        </header>
        <ul>
            <li>
                <hgroup>
                    <a href="jiaying-1.html">
                        <h2>火腿佳品</h2>
                    </a>
                    <h2>回味无穷 品质上乘</h2>
                    <h2>欢迎选购</h2>
                </hgroup>
            </li>

            <li>
                <hgroup>
                    <a href="#">
                        <h2>烤乳全猪</h2>
                    </a>
                    <h2>回味无穷 可口无比</h2>
                    <h2>欢迎选购</h2>
                </hgroup>
            </li>

            <li>
                <hgroup>
                    <a href="#">
                        <h2>腊制腩肉</h2>
                    </a>
                    <h2>腊香沁脾 回味无穷</h2>
                    <h2>欢迎选购</h2>
                </hgroup>
            </li>
            <li>
                <hgroup>
                    <a href="#">
                        <h2>酱制猪蹄</h2>
                    </a>
                    <h2>肉质筋道 美味可口</h2>
                    <h2>欢迎选购</h2>
                </hgroup>
            </li>

        </ul>

    </div>

</body>

</html>
